@import '../../utils/style/Variables.scss';

.offices {
     padding: 15px;
     margin: auto;
     max-width: 700px;
}

.office {
     display: block;
     padding: 10px;
     border-radius: 5px;
     margin: 10px auto;
}

input[type='radio'] {
     display: none;
}

.offices__light {
     color: rgba(255, 255, 255, 0.75);

     & .office {
          border: 2px solid rgba(255, 255, 255, 0.1);

          &:hover {
               border: 2px solid rgba(255, 255, 255, 0.5);
          }
     }
     & .office-selected + label {
          border: 2px solid $light-color;
          &:hover {
               border: 2px solid $light-color;
          }
     }
}

.offices__dark {
     color: $primary-color;

     & .office {
          border: 2px solid rgba(2, 65, 64, 0.1);

          &:hover {
               border: 2px solid rgba(2, 65, 64, 0.5);
          }
     }
     & .office-selected + label {
          border: 2px solid $primary-color;
          &:hover {
               border: 2px solid $primary-color;
          }
     }
}
