@import '../../utils/style/Variables.scss';

.title h1 {
     margin-top: 40px;
     font-weight: normal;
     font-size: 2.5em;
     font-family: lora;
     white-space: pre-line;
}
.title h2 {
     color: rgb(250, 171, 81);
     font-size: 1.5em;
     font-family: ambleregular;
     font-weight: normal;
}

.phone {
     margin: 0px 0px 20px;
     &:hover {
          text-decoration: underline;
     }
     &__number {
          font-size: 1em;
          color: $light-color;
          text-decoration: none;
     }
}

.link-container {
     display: flex;
     justify-content: center;
     padding-bottom: 30px;

     @media (max-width: $small) {
          display: block;
     }

     &__button {
          margin: 10px 15px;
          &__link {
               padding: 10px;
               border: 2px solid rgb(255, 255, 255);
               border-radius: 4px;
               text-decoration: none;
               color: $light-color;
               transition: background-color 0.5s, border 0.5s, transform 0.3s;
               width: 180px;
               display: inline-block;
               &:hover {
                    transform: translateY(-3px);
                    background: $secondary-color;
                    border: 2px solid $secondary-color;

                    & span,
                    i {
                         color: $primary-color;
                    }
               }
               & i {
                    margin-left: 10px;
               }
          }
     }
}

.cards {
     background-color: $lightGrey-color;
     padding: 40px;
}

.cards__container {
     display: flex;
     width: 80vw;
     text-align: center;
     margin: auto;
     gap: 20px;

     @media (max-width: $small) {
          display: block;
     }
}

article {
     & h2 {
          font-family: Lora;
          font-size: 2.7em;
          max-width: 85vw;
          margin: auto;

          @media (max-width: $small) {
               text-align: center;
          }
     }
     & h3 {
          font-family: Lora;
          font-size: 1.5em;
     }
}

.article__container {
     margin-block: 100px;
     @media (max-width: $small) {
          margin-block: 60px;
     }
}

.two-column__container {
     max-width: 85vw;
     margin: 50px auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 30px;

     @media (max-width: $small) {
          display: block;
     }
}

.textCarrousel__text__container {
     text-align: center;
     max-width: 80%;
     margin: auto;

     & h3 {
          max-width: 70%;
          margin: 0 auto 30px;
     }

     & p {
          font-family: Roboto;
          color: $grey-color;
          line-height: 30px;
          margin-bottom: 7px;
     }
}
