@import '../../utils/style/Variables.scss';

.title {
     & h1 {
          margin-top: 40px;
          font-weight: normal;
          font-size: 2.5em;
          font-family: lora;
          white-space: pre-line;
     }
     & h2 {
          color: rgb(250, 171, 81);
          font-size: 1.5em;
          font-family: ambleregular;
          font-weight: normal;
     }
}

.phone {
     margin: 0px 0px 20px;
     &:hover {
          text-decoration: underline;
     }
     &__number {
          font-size: 1em;
          color: $light-color;
          text-decoration: none;
     }
}

.link-container {
     display: flex;
     justify-content: center;
     padding-bottom: 30px;
     gap: 30px;

     @media (max-width: $small) {
          flex-direction: column;
          gap: 0;
          align-items: center;
     }
}

// General Css
section {
     padding-top: 50px;
}
article {
     padding-block: 50px;
     & h2 {
          font-family: Lora;
          font-size: 2.7em;
          max-width: 85vw;
          margin: auto;
          text-align: center;
          margin-bottom: 50px;
          &:after {
               content: '';
               height: 5px;
               width: 200px;
               background: $dark-color;
               display: block;
               left: 50%;
               position: relative;
               transform: translate(-50%, 10px);
          }

          @media (max-width: $small) {
               text-align: center;
          }
     }
     & h3 {
          font-family: Lora;
          font-size: 1.5em;
     }
}
.container--80vw {
     max-width: 80vw;
     margin: auto;
}
.article__container {
     @media (max-width: $small) {
          margin-block: 30px;
     }
}
.two-column__container {
     margin: 50px auto;
     display: grid;
     gap: 30px;

     &.equal-column {
          grid-template-columns: 1fr 1fr;
     }

     &.one-third-two-third-column {
          grid-template-columns: 3fr 4fr;
     }

     @media (max-width: $small) {
          display: block;
     }
}

// css for the presentation part
.cards {
     background-color: $lightGrey-color;
     padding: 40px;
}

.cards__container {
     display: flex;
     width: 80vw;
     text-align: center;
     margin: auto;
     gap: 30px;

     @media (max-width: $small) {
          display: block;
     }
}

// css for the questions part
#questions {
     background: $primary-color;
     padding-top: 100px;
     color: $light-color;
     font-family: Roboto;
     & h2:after {
          background: rgb(255, 255, 255);
     }

     & p {
          line-height: 25px;
          font-size: 1.125em;
          padding-bottom: 10px;
     }
}

.picture-office__container {
     display: flex;
     gap: 20px;

     & img {
          width: 33%;
          aspect-ratio: 1;
          object-fit: cover;

          @media (max-width: $small) {
               width: 100%;
          }
     }

     @media (max-width: $small) {
          flex-direction: column;
     }
}

// css for the tarif part
#tarif {
     & h2:after {
          height: 1px;

          @media (max-width: $small) {
               width: 100px;
          }
     }
     & p {
          font-family: Roboto;
          text-align: justify;
          line-height: 30px;
     }
     & .subtitle {
          font-family: ambleregular;
          font-size: 1.25em;
          text-align: center;
          color: rgb(250, 171, 81);
     }

     & .container {
          background-color: $lightGrey-color;
          padding: 30px;
          align-items: center;
     }

     .thin-separator-line {
          padding: 20px 0px 20px 40px;
          border-left: 1px solid $dark-color;

          @media (max-width: $small) {
               padding: 30px;
               border-left: 0px solid $dark-color;
               border-top: 1px solid $dark-color;
               padding-top: 30px;
          }
     }
}

// css for the map part
#contact {
     font-family: ambleregular;
     background: $lightGrey-color;
     padding: 100px 30px 50px 30px;
     margin-bottom: 50px;

     & h2 {
          margin-bottom: 25px;
     }
     & h3 {
          color: $secondary-color;
     }
}

.contact__container {
     text-align: center;
}

.map__container {
     // width: 50vw;
}

// css for the text-carrousel part
#pour_qui {
     background: $primary-color;
     color: $light-color;
     & h2:after {
          background: rgb(255, 255, 255);
          left: calc(50% - 5px);
     }
}

.textCarrousel__text__container {
     text-align: center;
     margin-block: 30px;

     & h3 {
          max-width: 70%;
          margin: 0 auto 30px;
          color: $secondary-color;
     }

     & p {
          font-family: Roboto;
          // color: $grey-color;
          line-height: 30px;
          margin-bottom: 7px;
     }
}
