@import '../../utils/style/Variables.scss';

.card {
     width: 33.33%;
     padding-bottom: 20px;
     padding-top: 20px;

     @media (max-width: $small) {
          width: 100%;
     }

     &::before {
          content: attr(data-icon);
          font-size: 40px;
     }

     & p {
          font-family: Roboto;
          color: $grey-color;
          line-height: 30px;
     }
}
.card__subtitle {
     text-decoration: underline;
     padding-bottom: 10px;
     white-space: nowrap;
}
.card__title {
     font-family: lora;
     font-size: 1.7em;
     font-weight: 400;
     padding-bottom: 20px;
     padding-top: 20px;
}
