@import '../../utils/style/Variables.scss';

.card {
     width: 33.33%;
     padding-bottom: 20px;
     padding-top: 20px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;

     @media (max-width: $small) {
          width: 100%;
     }
     & img {
          width: 85px;
          margin-bottom: 30px;
          &:hover + .picto__link {
               display: block;
               position: absolute;
               top: -5px;
               color: $grey-color;
               opacity: 0.3;
          }
     }

     & p {
          font-family: Roboto;
          text-align: center;
          font-weight: 800;
          color: $grey-color;
          line-height: 30px;
     }
}
.card__subtitle {
     text-decoration: underline;
     padding-bottom: 10px;
     white-space: nowrap;
}
.card__title {
     font-family: lora;
     font-size: 1.7em;
     font-weight: 400;
     padding-bottom: 20px;
     padding-top: 20px;
}
