$primary-color: rgb(2, 65, 64);
$secondary-color: rgb(250, 171, 81);
$dark-color: rgb(0, 0, 0);
$light-color: rgb(255, 255, 255);
$grey-color: rgba(10, 10, 10, 0.65);
$lightGrey-color: rgba(10, 10, 10, 0.05);

$small: 768px;
$medium: 992px;
$large: 1200px;
