@import '../../utils/style/Variables';

$translate: translateX(0);

.Carrousel {
     width: 100%;
     position: relative;
     overflow: hidden;
}
.Carousel_btn {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background: transparent;
     border: none;
     cursor: pointer;
     padding: 30px;
}
.btn_left {
     left: -20px;
     &:hover {
          left: -30px;
     }
}
.btn_right {
     right: -20px;
     &:hover {
          right: -30px;
     }
}

.Carrousel_Container {
     width: 100%;
     height: 100%;
     display: flex;
     list-style: none;
     transform: translateX(var(--translateX, 0));

     & li {
          height: 100%;
          width: 100%;
          flex-shrink: 0;
          position: relative;
          text-align: center;
          padding-inline: 60px;
     }
}

.CarouselPicture {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
