@import '../../utils/style/Variables';

.Error_Container {
     display: grid;
     grid-template-rows: 1fr auto 1fr;
     flex-grow: 1;
     margin-top: 110px;
}
.Error_Content {
     height: auto;
     text-align: center;
     color: $primary-color;

     & h1 {
          padding-top: 40px;
          font-size: 150px;
          font-weight: 700;
     }

     & h2 {
          padding-top: 30px;
     }

     & p {
          padding-block: 50px;
     }

     & a {
          color: $primary-color;
          font-size: 0.75rem;
     }
}
